<html>
 <head> 
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>home</title>
 </head>
 <body>
     Hello hi
 <form action=http://127.0.0.1:8080/cart method="post">
    {{range .Items}}
        <p>
        <img src="{{.Name}}.jpg" >
        <label>{{.Name}}</label>:=
        Select<input type = "radio"  name="{{.Name}}"/>
        Quantity<input type="text" name = "qnt{{.Name}}"/><br>
        </p>
    {{end}}
 <input type="submit" value="Go to Cart"/>
 </form>
 </body>
</html>

