<h1>{{.ItemTitle}}</h1>
<table  style="border:rgb(255, 0, 0); border-width:5px; border-style:solid; width: 50%;">
    <caption>Cart Items</caption>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    {{range .Items}}
    <tr>
      <td>Item {{.Title}}</td>
      <td>{{.Name}}</td>
      <td>{{.Qnt}}</td>
    </tr>
    {{end}}
</table>
