<h1>{{.ItemTitle}}</h1>
<table  style="border:rgb(255, 0, 0); border-width:5px; border-style:solid; width: 50%;">
    <caption>Cart Items</caption>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    {{range .Items}}
    <tr>
      <td>Item {{.Title}}</td>
      <td>{{.Name}}</td>
      <td>{{.Qnt}}</td>
    </tr>
    {{end}}
</table>
<form action=http://127.0.0.1:8080/delete method="POST">
    <input type="submit" name="delete" value="Delete Items">
</form>

<a href="."><button name="payment">Proceed to Payment</button></a>
