<h1>{{.ItemTitle}}</h1>
<form action=http://127.0.0.1:8080/process method="post">
<table  style="border:rgb(255, 0, 0); border-width:5px; border-style:solid; width: 50%;">
    <caption>Update the cart</caption>
    <tr>
      <th>Sr.No</th>
      <th>Name of the product</th>
      <th>Select the Quantity you need</th>
      <th>Deselect the items</th>
    </tr>
    {{range .Items}}
    <tr>
      <td>Item {{.Title}}</td>
      <td>{{.Name}}</td>
      <td><input type="number" name="qnt{{.Name}}"></td>
      <td><input type ="radio" name="{{.Name}}"></td>
    </tr>
    {{end}}
</table>
<input type="submit" >
</form>

